{% extends "base.html" %}
{% block style %}
.bg-1 {
	background-color: #EEE8AA;
}
th {
	text-align: center;
}
{% endblock %}

{% block title %} {{ websitename }} {% endblock %}
{% block jumbotron %}
        <h1>Study Corner</h1>
        <p>You should study. Go you, look at you, you winner you. Studying. You deserve a cookie. No, scratch that. Losers eat cookies. How about some beef jerky? Doesn't that sound nice? Go get 'em tiger.</p>
{% endblock %}
{% block body %}
  <div class="container-fluid bg-1 text-center">
    <h2>Today's Flashcards</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Set Name</th>
            <th>Date Created</th>
              </tr>
              </thead>
              <tbody>
                {% for item in details %}
                  <tr>
                    <td><a href="https://www.quizlet.com{{item['url']}}">{{item['title']}}</a></td>
                    <td>{{item['datecreated']}}</td>
                  </tr>
                {% endfor %}
              </tbody>
      </table>
  </div>
{% endblock %}
~

